<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="#" />
</head>

<body>

<p>Bonjour et bienvenue sur le store de vente de pizza de RappaPizza</p>
<p>Je suis ...</p>
<button><a href="http://localhost:8080/customer/login">Client(e)</a></button>
<button><a href="http://localhost:8080/admin/login">Administrateur(trice)</a></button>
</body>

</html>